.footer {
    background-color: var(--footer-bg);
    color: var(--button-text);
    text-align: center;
    padding: var(--spacing-2xl) 0 var(--spacing-3xl);
    font-family: var(--font-family);
    
    position: absolute; /* ДОБАВИТЬ */
    bottom: 0; /* ДОБАВИТЬ */
    left: 0; /* ДОБАВИТЬ */
    width: 100%; /* ДОБАВИТЬ */
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-xl);
}

.footer-nav a {
    color: var(--button-text);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: var(--accent-color);
}

.footer-nav span {
    color: #666;
    font-size: var(--font-size-base);
}

.footer-text {
    letter-spacing: 0%;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-relaxed);
    font-size: var(--font-size-base);
    margin-bottom: 5px;
    color: #FFFFFF66;
}

.footer-subtext {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-xs);
    color: #FFFFFF40;
    margin-bottom: var(--spacing-lg);
    line-height: 1.4;
}

.back-to-top {
    font-family: var(--font-family);
    color: var(--accent-color);
    line-height: 105%;
    letter-spacing: 0%;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    text-decoration: none;
}

